/* Global */
:root {
    --black: #131313;
    --blue: #1e90ff;
    --white: #ffffff;
    --coral: #d14244;
    --yellow: #ffca37;
}

.black-bg {background-color: var(--black)}
.coral-bg {background-color: var(--coral)}
.coral {color: var(--coral)}


body {
    color: #ffffff;
    background-color: var(--black);
}

p {
    color: #ffffff!important;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

html, .body, h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

h1, h2, h3 {
    font-size: 10vw;
    line-height: 6vw;
}

h4, h5, h6 {
    font-size: 6vw;
    line-height: 5vw;
}

.uk-text-lead {
    font-weight: 100;
}

.stroke-title {
    -webkit-text-stroke: 2px #fff;
    color: transparent!important;
}

.transition-intro-shape:before {
    content: '';
    display: block;
    height: 0;
    background-color: var(--yellow);
}

  