/* Global */
:root {
    --black: #131313;
    --blue: #1e90ff;
    --white: #ffffff;
    --coral: #d14244;
    --yellow: #ffca37;
    --gradient: linear-gradient(-45deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

.coral {color: var(--coral)}
.yellow {color: var(--yellow)}
.gradient {color: var(--gradient)}

.hover-coral:hover {-webkit-text-stroke: 2px var(--coral)}
.hover-yellow:hover {-webkit-text-stroke: 2px var(--yellow)}
.hover-gradient:hover {-webkit-text-stroke: 2px var(--gradient)}

.black-bg {background-color: var(--black)}
.white-bg {background-color: var(--white)}
.coral-bg {background-color: var(--coral)}
.yellow-bg {background-color: var(--yellow)}
.gradient-bg {background: var(--gradient)}

html, .body, p {
    color: var(--white)!important;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

body {
    color: var(--white);
    background-color: var(--black);
}

h1, h2, h3, h4, h5, h6, .uk-logo {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

h1, h2, h3 {
    font-size: 10vw;
    line-height: 6vw;
}

h4, h5, h6 {
    font-size: 6vw;
    line-height: 5vw;
}

hr, .uk-hr {border-top: 1px solid #ffffff14}

.uk-logo, .uk-navbar-nav > li > a,
.uk-light .uk-logo, .uk-navbar-nav > li > a {
    color: var(--white)
}

.uk-text-lead {font-weight: 100;}

.stroke-title, .stroke-title-dark {
    -webkit-background-clip: text;
    background-clip: text;
    box-sizing: content-box;
    color: transparent!important;
}

.stroke-title {-webkit-text-stroke: 2px var(--white)}
.stroke-title-dark {-webkit-text-stroke: 2px var(--black)}

a, .stroke-title {transition: all ease-in-out 500ms}
a:hover > .stroke-title {text-decoration: none}

.transition-intro-shape:before {
    content: '';
    display: block;
    height: 0;
    background-color: var(--yellow);
}

.uk-navbar-nav > li > a {transition: all 300ms}

.uk-navbar-nav > li.uk-active > a,
.uk-light .uk-navbar-nav > li.uk-active > a {
    color: var(--white);
    position: relative;
}

.uk-navbar-nav > li:hover > a {
    color: var(--white);
    opacity: 0.8;
}

.uk-navbar-nav > li.uk-active > a:after,
.uk-light .uk-navbar-nav > li.uk-active > a:after {
    content: '';
    transition: all linear 300ms;
    height: 2px;
    background-color: var(--white);
    width: 100%;
    display: block;
    position: absolute;
    bottom: 25px;
    z-index: 790;
}