/* Global */
:root {
    --black: #131313;
    --blue: #1e90ff;
    --white: #ffffff;
    --coral: #d14244;
    --yellow: #ffca37;
}

.coral {color: var(--coral)}
.yellow {color: var(--yellow)}

.black-bg {background-color: var(--black)}
.white-bg {background-color: var(--white)}
.coral-bg {background-color: var(--coral)}
.yellow-bg {background-color: var(--yellow)}

html, .body, p {
    color: #ffffff!important;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

body {
    color: #ffffff;
    background-color: var(--black);
}

h1, h2, h3, h4, h5, h6, .uk-logo {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

h1, h2, h3 {
    font-size: 10vw;
    line-height: 6vw;
}

h4, h5, h6 {
    font-size: 6vw;
    line-height: 5vw;
}

hr, .uk-hr {border-top: 1px solid #ffffff14}

.uk-logo, .uk-navbar-nav>li>a {
    color: var(--white)
}

.uk-text-lead {
    font-weight: 100;
}

.stroke-title {
    -webkit-text-stroke: 2px var(--white);
    color: transparent!important;
}

.stroke-title-dark {
    -webkit-text-stroke: 2px var(--black);
    color: transparent!important;
}

.transition-intro-shape:before {
    content: '';
    display: block;
    height: 0;
    background-color: var(--yellow);
}

.uk-navbar-nav > li > a {
    transition: all 300ms;
}


.uk-navbar-nav > li.uk-active > a,
.uk-light .uk-navbar-nav > li.uk-active > a {
    color: #ffffff;
    position: relative;
}

.uk-navbar-nav > li:hover > a {
    color: #ffffff;
    opacity: 0.8;
}

.uk-navbar-nav > li.uk-active > a:after,
.uk-light .uk-navbar-nav > li.uk-active > a:after {
    content: '';
    transition: all linear 300ms;
    height: 2px;
    background-color: #ffffff;
    width: 100%;
    display: block;
    position: absolute;
    bottom: 25px;
    z-index: 790;
}

  